:root {

  /* BACKGROUND */
  --color-canvas-default: #000000;
  --color-canvas-overlay: #000000;

  /* BORDERS */
  --color-border-default: #00ff00;
  --color-border-muted: #00ff00;
  --color-neutral-muted: #001a00;

  /* TEXT */
  --color-fg-default: #00ff00;
  --color-fg-muted: #00ff00;
  --color-fg-subtle: #00ff00;
  --color-fg-on-emphasis: #00ff00;
  --color-accent-fg: #00ff00;

  /* GRAY SCALE FIX */
  --color-scale-gray-7: #00ff00;
  --color-scale-gray-6: #00ff00;
  --color-scale-gray-5: #00ff00;

  /* LINKS */
  --color-accent-emphasis: #00ff00;
  --color-accent-muted: #003300;

  /* BUTTONS */
  --color-btn-bg: #000000;
  --color-btn-border: #00ff00;
  --color-btn-text: #00ff00;

  --color-btn-primary-bg: #003300;
  --color-btn-primary-border: #00ff00;
  --color-btn-primary-text: #00ff00;

  /* INPUTS */
  --color-input-bg: #000000;
  --color-input-border: #00ff00;

  /* FOCUS */
  --color-focus-border: #00ff00;
}
